<div class="row">
    <h1>PROYECTOS REALIZADOS</h1>
    <div class="contenedor">
<div class="col-sm-12 col-md-7 col-lg-7 parte1"><h1>proyecto 1</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eos totam,
perspiciatis nesciunt impedit nam modi nostrum necessitatibus ad, pariatur
 magni rerum! Quas nihil aperiam dignissimos quae corrupti, ab ut?</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
    <img src="../../../assets/banner2.jpg" class="img-fluid" id="embalse">
</div>

    </div>
</div>
