
    <div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.jpg" 
    class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"> SANTIAGO RUBEN ACOSTA</p>
    <p>Full Stack Developer Jr </p>
</div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <span>
             <h1>Acerca de mi</h1>
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facilis sunt laborum temporibus eaque aliquam error quos consequuntur vel,
                   necessitatibus minima repellat. Minus molestiae iure facere assumenda debitis magnam soluta veritatis.</p>
         </span>
     </div>
    </div>

